:root {}

@font-face {
  font-family: 'OpenSans';
  src: font-url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: font-url('OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src:
  font-url('OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: font-url('OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: font-url('OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: font-url('OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: block;
  color: #0d0e1d;
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  text-align: left;
  display: block;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  filter: none;
  transition: all .25s;
}
a:hover {
  opacity: .75;
}
a:active {
  transform: translateY(.05em) !important;
}

.-hidden {
  opacity: 0 !important;
}

.-display-n {
  display: none !important;
}


/* MEDIA QUERIES */
@media screen and (max-height: 640px) {
  :root {
    font-size: 12px;
  }
  body {
    overflow-y: scroll;
  }
  section {
    height: auto !important;
    padding: 1rem !important;
  }
  .__credentials {
    bottom: 0 !important;
    margin: 4rem 1rem !important;
    position: relative !important;
    right: 0 !important;
  }
  .__credentials ._item {
    white-space: normal !important;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 640px) {
  :root {
    font-size: 12px;
  }
  body {
    overflow-y: scroll;
  }
  section {
    height: auto !important;
    padding: 2rem !important;
  }
  section .__header img._title {
    width: 100% !important;
    margin: -4rem auto 1rem !important;
    padding: 0 !important;
  }
  section .__header::before {
    min-height: 28rem !important;
    height: auto !important;
    background-size: contain !important;
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
    width: 100% !important;
  }
  section .__shows {
    width: 100% !important;
    margin: 0 !important;
  }
  section .__shows ._show {
    margin-left: 1rem !important;
  }
  .__credentials {
    margin: 0 !important;
    right: 2rem !important;
    width: 100% !important;
  }
  .__credentials {
    bottom: 0 !important;
    margin: 4rem 0 !important;
    position: relative !important;
    right: 0 !important
  }
  .__credentials ._item {
    white-space: normal !important;
    flex-wrap: wrap;
  }
}
@media screen and (min-height: 640px) and (min-width: 640px) and (max-width: 768px) {}
@media screen and (min-width: 640px) and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
  body {
    overflow-y: scroll;
  }
  section {
    height: auto !important;
    padding: 2rem !important;
  }
  section .__header img._title {
    width: 100% !important;
    margin: 0 auto  1rem !important;
    padding: 0 !important;
  }
  section .__header::before {
    min-height: 28rem !important;
    height: auto !important;
    background-size: contain !important;
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
    width: 100% !important;
  }
  section .__shows {
    width: calc(100% - 1rem) !important;
    margin: 0 !important;
  }
  section .__shows ._show {
    padding-left: 5rem !important;
  }
  .__credentials {
    margin: 0 !important;
    right: 2rem !important;
  }
  .__credentials {
    bottom: 0 !important;
    margin: 4rem 1rem !important;
    position: relative !important;
    right: 0 !important
  }
  .__credentials ._item {
    white-space: normal !important;
    flex-wrap: wrap;
  }
}
@media screen and (min-height: 640px) and (min-width: 768px) {}
@media screen and (min-height: 640px) and (min-width: 768px) and (max-width: 1024px) {
  :root {
    font-size: 12px;
  }
  section {
    padding: 2rem !important;
  }

  section .__header::before {
    right: 0 !important;
  }
  section .__shows {
    margin-top: -4rem;
    width: 32rem !important;
  }
  section .__shows ._show {
    margin-left: 2rem;
  }
  .__credentials {
    margin: 0 !important;
    right: 2rem !important;
  }
}
@media screen and (min-height: 640px) and (min-width: 1024px) {}
@media screen and (min-height: 640px) and (min-width: 1024px) and (max-width: 1536px) {
  :root {
    font-size: 14px;
  }
  section {
    padding: 4rem 8rem !important;
  }
  section .__header::before {
    right: 0 !important;
  }
  section .__shows {
    margin-top: -2rem;
    width: 36rem !important;
  }
  section .__shows ._show {
    margin-left: 4rem;
  }
  .__credentials {
    right: 0 !important;
  }
}
@media screen and (min-height: 640px) and (min-width: 1536px) {}


/* LOCALS */

section {
  align-content: flex-start;
  background: linear-gradient(to bottom right, #E4242D, #bf0c6d);
  display: flex;
  flex-direction: column;
  padding: 4rem 16rem;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

/* section::after {
  background: radial-gradient(ellipse 150% 100% at top, transparent 70%, #FFF 30%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
} */

a._facebook {
  align-items: center;
  display: flex;
}
a._facebook img {
  height: 2rem;
}
a._facebook span {
  color: white;
  letter-spacing: .6px;
  margin: 0 .75rem;
}

section .__header {
  position: relative;
  display: block;
}
section .__header img._title {
  width: 64rem;
  margin: 2rem 0;
  padding: 4rem 0 0;
  z-index: 2;
}
section .__header::before {
  content: "";
  display: block;
  background-image: url("../image/faces.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 4rem;
  right: 8rem;
  height: 25rem;
  width: 33rem;
  z-index: -1;
}
section .__shows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow:
    0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 6px 10px 0 rgba(0, 0, 0, 0.14)
  ;
  padding: 1rem;
  transition: all .5s;
  width: 40rem;
}
section .__shows:hover {
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 16px 24px 2px rgba(0, 0, 0, 0.14)
  ;
}
section .__shows ._show {}

._show {
  background: rgba(0, 0, 0, 0.0001);
  display: flex;
  cursor: pointer;
  margin: 1rem 1rem 1rem 6rem;
  transition: all .25s;
}
._show:hover {
  opacity: .5;
}
._show .__dates {
  text-align: right;
  color: rgb(170, 170, 170);
  margin: 0 .5rem;
}
._show .__dates ._date {
  font-size: 1.5rem;
}
._show .__dates ._time {
  font-size: 1rem;
  margin: .25rem .125rem;
  font-style: italic;
  font-weight: lighter;
  opacity: .9;
}
._show .__info {
  line-height: 1.5rem;
  margin: 0 .5rem;
}
._show .__info ._location {
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
}
._show .__info ._address {
  font-size: 1rem;
  font-style: italic;
  opacity: .85;
}
._show .__info .__contact {
  display: block;
  font-style: italic;
  font-size: .75rem;
  margin-top: -.25rem;
}
._show .__info .__contact ._label {
  font-style: normal;
  font-weight: 600;
}

.__credentials {
  align-self: flex-end;
  bottom: 4rem;
  color: #FFF;
  margin: 0 10rem;
  position: absolute;
  right: 6rem;
  text-align: right;
  width: 40rem;
}
.__credentials ._title {
  border-bottom: 2px solid #FFF;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 .5rem 30%;
  padding-bottom: 1rem;
  text-transform: uppercase;
  width: 70%;
}
.__credentials ._item {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  letter-spacing: .75px;
  text-align: right;
  white-space: nowrap;
}
.__credentials ._item>* {
  margin: 0 .25rem;
}
.__credentials ._item ._role {
  font-style: italic;
}
.__credentials ._item ._name {
  font-size: 1.1rem;
}
.__credentials a._item {
  margin: .5rem;
}
